* {
  margin: 0;
  padding: 0;
}
.parent {
  width: 100%;
  padding: 30px;
  background-color: #2b2b2b;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 300px);
  /* border: 1px solid #2b2b2b; */
  /* margin: 50px auto; */
  /* box-shadow: 5px 5px 25px #2b2b2b; */
  /* display: grid; */

  /* grid-template-columns: 500px 200px; */
  /* grid-template-rows: 500px 200px; */
  /*  */
  /* column-gap: 5px; */
  /* justify-content:center; */
  /* align-items:center; */
  /*  */
  /* grid-column-end:  #2b2b2b; */
  /* row-gap: 5px; */
  /* background-color: #2196F3; */

  .items {
    /* height: 200px; */
    /* background-color: red; */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    text-align: center;
    line-height: 200px;
    margin-bottom: 2px;
    color: whitesmoke;
  }
  .items:nth-of-type(1) {
    justify-content: center;
    align-self: center;
  }
}
